@import "../../theme/local.scss";
.order-page {
    display: flex;
    flex-direction: row;
  }

  .order-page__content{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .order-page-padding{
    padding: $size-mid $size-large;
  }

  .order-page__order{
    @include flex-row;
    padding: $size-mid $size-large
  }