@import "../../theme/colors.scss";
@import "../../theme/flex.scss";
@import "../../theme/fonts.scss";

.burger-nav--main {
  @include flex-column;
  justify-content: space-between;
  position: absolute;
  left: 0%;
  top: 0;
  width: calc(50vw + 64px);
  height: 100vh;
  min-width: calc(560px + 64px);
  background-color: $color-dark-light;
  z-index: 1;
  transition: 0.3s ease-in-out;
  padding: 307px calc(100vw / 15);
}

.burger-nav--second {
  position: absolute;
  left: calc(50vw + 64px);
  top: 0;
  width: calc(50vw - 64px);
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.hide {
  left: -100%;
  transition: 0.3 ease-in-out;
}

.burger-nav__container {
  @include flex-column;
  justify-content: space-between;
  height: 198px;
}

.burger-nav__link {
  @include font-normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.socials__icon:hover{
    transition: 0.2s ease-in-out;
    filter: invert(48%) sepia(68%) saturate(1405%) hue-rotate(111deg) brightness(100%) contrast(89%);
}

.burger-nav__socials{
    @include flex-row-space;
    width: 140px;
}