$color-accent: #0ec261;
$color-accent-low-opacity: rgba(14, 194, 97, 0.2);
$color-main: #121212;
$color-second: #999999;
$color-disabled: #eeeeee;
$color-main-light: #fff;
$color-dark-light: #151b1f;
