/*Flex types*/

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-center {
  @include flex-row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-space {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-space {
  @include flex-column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
