{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "endOfLine": 0,
    "no-noninteractive-element-to-interactive-role":0,
    "semi": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "ts", ".tsx", ".native.js"] }],
    "prettier/prettier": [
      "warn",
      {
        "semi": false,
        "endOfLine": "auto",
        "trailingComma": "none",
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": true
      }
    ]
  }
}
