@import "../../theme/local.scss";
.car-card {
  width: 369px;
  height: 224px;
  padding: 17px;
  border:1px solid $color-second;
  margin:-0.5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  
  &.selected{
    border:1px solid $color-accent;
    z-index: 1;
    color: $color-accent;
    padding: 13px;
  }

  .car-card__image{
      height: 116px;
      float: right;
      pointer-events: none;
  }

  .car-card__info{
      margin-bottom: 36px;
  }

  .car-card__name{
    font-size: 18px;
    line-height: 21px;
  }

  .car-card__price{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $color-second;
  }
  &:hover{
    border:1px solid $color-accent;
    z-index: 1;
  }
}

