@import "../../theme/local.scss";

$sider-bar-width: 64px;

.side-bar {
  @include flex-column-space;
  width: $sider-bar-width;
  height: 100vh;
  background: $color-dark-light;
  padding: 32px 0 17px 0;
}

.burger__button {
  position: relative;
  @include font-bold;
  font-size: 13px;
  line-height: 15px;
  user-select: none;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  padding: 0;
  transition: 0.3s ease-in-out;
  z-index: 3;
}

.burger__button:hover {
  filter: brightness(0.7);
}

.burger__img {
  width: 32px;
  height: 32px;
}
